ul.breadcrumb-pdp{
    margin: 0%;
    padding: 10px 10px 10px 10px;
    list-style: none;
    display: felx;
    content: "/\00a0";
    /*grid-column: 1/6;
    grid-row: 1;*/
    align-items: center;
    /* color: #F9DBBA;*/
    background-color:#F9DBBA ;
}
ul.breadcrumb-pdp li {
    display: inline;
    color: #000000;
}
ul.breadcrumb-pdp li+li :before{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb-pdp li a{
    color: #0275d8;
    text-decoration: none;
}
ul.breadcrumb-pdp li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/*main page test*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;
  }
  
  header {
    margin-bottom: 20px;
  }
  
  .product-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
  }
  
  /* .img-card{
      width: 40%;
  } */
  
  .img-card img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 4px;
    height: 520px;
    object-fit: cover;
  }
  
  .small-Card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
  }
  
  .small-Card img {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    cursor: pointer;
  }
  /*#17696a;*/
  .small-Card img:active {
    border: 1px solid #1F316F;
  }
  
  .sm-card {
    border: 2px solid darkred;
  }
  
  .product-info{
    width: 60%;
  }
  .product-info h3 {
    font-size: 32px;
    font-family: Lato;
    font-weight: 600;
    line-height: 130%;
  }
  
  .product-info h5 {
    font-size: 24px;
    font-family: Lato;
    font-weight: 500;
    line-height: 130%;
    color: #ff4242;
    margin: 6px 0;
  }
  
  .product-info del {
    color: #a9a9a9;
  }
  
  .product-info p {
    color: #424551;
    margin: 15px 0;
    width: 70%;
  }
  

  
  .quantity input {
    width: 51px;
    height: 33px;
    margin-bottom: 15px;
    padding: 6px;
  }
  
  button {
    background: #5B99C2;
    border-radius: 4px;
    padding: 10px 37px;
    border: none;
    color: white;
    font-weight: 600;
  }
  
  button:hover {
    background: #1F316F;
    transition: ease-in 0.4s;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    color: #787a80;
    font-size: 12px;
    font-family: Lato;
    line-height: 150%;
    letter-spacing: 1px;
  }
  
  hr {
    color: #787a80;
    width: 58%;
    opacity: 0.67;
  }
  
  .pagination {
      color: #787a80;
      margin: 15px 0;
      cursor: pointer;
  }

  .vl {
    border-left: 1px solid #787a80;
    height: 90px;
    padding-left: 0px;
  }
  
