*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------------header y footer -------------------------------- */

@media (max-width: 650px) {
    .header-company_name {
        display: none;
    }

    .header-sub_header > nav > ul {
        display: flex;
        justify-content: left;
        flex-direction: column;
        list-style-type: none;
        padding: 0%;
    }

    .footer-top_section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        font-size: 12px;
        font-weight: 300;
        gap: 10px;
    }

    .footer-bottom_section-sitemap{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        flex-direction: column;
        gap: 5px;
        font-size: 12px;
        font-weight: 300;
        list-style: none;
    }
    footer {
        min-height: 441px;
    }
}

header {
    background-color: #211f43;
    color: #ffffff;
}

.header-logo-and-company_name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-logo-and-company_name img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.header-company_name {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.header-logo-and-company_name span {
    text-align: left;
}

.header-logo-and-company_name a {
    text-decoration: none;
    color: #ffffff;
    height: auto;
}

.header-user_section-area {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    gap: 5px;
}

.header-user_section-area a {
    text-decoration: none;
    color: #000000;
}

.header-shopping_cart-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-profile_picture-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.header-search_form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search-and-text_box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-search_form > button {
    border: none;
    background-color: transparent;
}

.header-search_form > input {
    border: none;
    background-color: #eeeeee;
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    height: 30px;
    width: 20vw;
    border-radius: 5px;
}

.header-user_section-area-text {
    font-size: 12px;
    font-weight: 500;
    height: auto;
    width: 70px;
    color: #ffffff;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1vw;
    height: 100px;
    padding: 10px;
}

.header-sub_header {
    background-color: beige;
    padding: 10px;
}

.header-sub_header-navigational-item {
    position: relative;
}

.header-sub_header-sub_menu {
    list-style: none;
    padding: 0%;
    position: inherit;
    display: none;
}

.header-stilized-navigational-menus-items {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.header-sub_header-navigational-item:hover .header-sub_header-sub_menu {
    display: block;
}

.header-sub_header > nav > ul {
    display: flex;
    justify-content: left;
    gap: 1vw;
    list-style-type: none;
    padding: 0%;
}

/* Estilos de los elementos del menú de navegación principal del sub-header */
.header-sub_header-navigational_menu-main-elements {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

/* Estilos de los elementos del sub-menú de navegación desplegable del sub-header */
.header-sub_header-navigational_sub_menu-elements {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

footer {
    background-color: #202020;
    color: #ffffff;
    padding: 20px;
    border-top: 1px solid #F5F5F5;
    height: 201px;
    position: relative;
    bottom: 0;

}

.footer-top_section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 300;
}

.footer-top_section-column {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 14px;
    font-weight: 300;
}

.footer-bottom_section-sitemap{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5px;
    font-size: 12px;
    font-weight: 300;
    list-style: none;
}

.footer-bottom_section-sitemap-sub_list{
    font-size: 12px;
    font-weight: 300;
    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.footer-bottom_section-sitemap-sub_list a {
    text-decoration: none;
    color: inherit;
}
/* -------------------------------- fin header y footer -------------------------------- */

/* ------------------------------------------ homepage -------------------------------------------- */
.main-content-home{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    color: #211f43;
}

.promo-section-home {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    cursor: pointer;
}

.promo-image-home img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.featured-products-home {
    margin-bottom: 40px;
    margin: 0 0 0 30px;

}
.image-product {
    margin-bottom: 3px;
    background: black;
}

.featured-products-home h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.product-grid-home {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding: 0 10rem;
}

.product-box-home {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: #211f43;
    cursor: pointer;
    box-shadow: 0px 0px 2px #00000054;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.product-box-home h3 {
    font-size: 16px;
    flex-grow: 1;
    padding-bottom: 16px;
}


.product-box-home:hover img {
    transform: scale(1.04);
}

.product-box-home img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    flex-direction: column;
    justify-content: space-between;
}

.product-box-home h3{
    font-size: 16px;
    margin-top: 0;
    text-align: start;
}

.price-normal-home {
    text-decoration: line-through;
    color: #888;
    font-size: 14px;
    margin: 0 0 8px 0;
}

.price-discounted-home {
    color: #2b8603;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}

.price-discounted-home span {
    font-size: 14px;
    color: #555;
}

.add-to-cart-home {
    background-color: #211f43c0;
    color: white;
    padding: 0.8rem 3rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease; 
    margin: auto;
    display: flex;
    margin-top: 1.5rem;
    font-family: montserrat;
}

.add-to-cart-home:hover {
    background-color: #211f43;
}

.banner-section-home {
    margin-top: 40px;
    margin-bottom: 40px;
}

.banner-section-home img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .product-grid-home {
        grid-template-columns: 1fr;
        padding: 0 1rem;
    }
}

@media (max-width: 768px) {
    .featured-products-home {
        margin: 0 0 20px 0;
    }

    .product-box-home {
        padding: 10px;
        margin: 0 1.6rem 0 1.6rem;
    }

    .add-to-cart-home {
        padding: 0.8rem 1.5rem;
    }
}

/* ------------------------------------------ fin homepage ------------------------------------------ */


/* ---------------- EMPIEZA PLP ---------------- */

.main-plp{
    margin: 0%;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    color: #211f43;
}
.grid-container-plp{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 30px 2fr;
}
ul.breadcrumb-plp{
    margin: 0px 0px 0px 5px;
    padding: 10px 10px 10px 10px;
    list-style: none;
    display: inline;
    content: "/\00a0";
    grid-column: 1/6;
    grid-row: 1;
    align-items: center;
}
ul.breadcrumb-plp li {
    display: inline;
}
ul.breadcrumb-plp li+li :before{
    padding: 8px;
    color: black;
    content: "/\00a0";
}
ul.breadcrumb-plp li a{
    color: #211f43;
    text-decoration: none;
}
ul.breadcrumb-plp li a:hover {
    color: #211f43;
    text-decoration: underline;
}
aside.aside-plp{
    display: inline-block;
    margin-left:10px;
    padding: 15px 15px 15px 15px;
    background-color: #211f43;
    grid-column: 1;
    grid-row: 2/4;
    border-radius: 8px;
    height: max-content;
}
aside.aside-plp h3{
    margin:0%;
    padding-bottom: 15px;
    color: azure;
}
input[type="checkbox"] {
    cursor: pointer; 
}
input[type=text], select {
    font-family: "Montserrat", sans-serif;
    padding: 5px 5px;
    margin: 0%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.catergory-plp b{
    font-size: medium;
}
.category-plp label{
    font-size: small;
}
.category-plp{
    display:flex;
    flex-direction: column;
    align-items: right;
    color: azure;
}
button[type="submit"]{
    margin-top: 10px;
    border:black;
    background-color: transparent;
    padding: 10px 20px;
    text-align: center; 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 5px; 
    color: #211f43;
    font-family: "Montserrat", sans-serif;
}
section.title-list-products-plp{
    margin: 0px 20px 0px 20px;
    grid-column: 2/ span 4;
    grid-row: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color:white;
    align-items: center;
    border-radius: 8px;
}
section.resultados-plp{
    width: 100%;
}
section.resultados-plp h3{
    color: #211f43;
}
section.selector-plp label{
    margin: 5px;
}
section.selector-plp{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}
section.listproducts-plp {
    display: flex;
    flex-direction: column; 
    margin: 5px;
    padding: 15px;
    background-color: white;
    grid-column: 2 / span 4;
    grid-row: 3;
}
section.listproducts-plp a,
section.listproducts-plp a:hover{
     text-decoration: none;
}
.product-plp {
    display: grid;
    grid-template-columns: 65% 35%; 
    gap: 10px; 
    background-color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 0px 2px #00000054;
    width: 100%;
    margin-bottom: 15px;
    box-sizing: border-box;
    overflow: hidden;
}
.product-img-plp {
    grid-column: 1; 
    display: flex;
    align-items: center;
}
.product-img-plp img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-width: 100%;
}
.info-product-plp {
    color: #7c7596;
    grid-column: 2; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.info-product-plp h3 {
    font-size:larger; 
    color: black;
    margin: 0%;
}
.info-product-plp h5 { 
    color: gray;
    margin:0%;
}
.info-product-plp p{
    margin-top: 0%;
    font-size: x-small
}
.info-product-plp h6{
   font-size: medium;
   margin: 0%;
}
.info-product-plp .normal-price-plp {
    color: #999; 
    font-size: small;
}
.info-product-plp .price-discounted-plp {
    color: #2b8603;
}
button[type="add-to-car-plp"]{
    margin-top: 10px;
    border:black;
    background-color: #211f43;
    padding: 10px 20px;
    text-align: center; 
    display: inline-block; 
    cursor: pointer; 
    border-radius: 5px; 
    color: azure;
    font-family: "Montserrat", sans-serif;
}
button[type="add-to-car-plp"]:hover{
    background-color: #2b8603;
}
.banner-plp{
    grid-column: 1/6;
    grid-row: 4;
    padding: 40px 0;
}
.responsive {
    width: 100%;
    height: auto;
}
@media (max-width: 768px) {
    .product-plp {
        grid-template-columns: 1fr; 
        grid-template-rows: auto auto; 
    }
    .product-img-plp {
        grid-column: 1; 
        grid-row: 1;
    }
    .info-product-plp {
        grid-column: 1; 
        grid-row: 2;
    }
    .grid-container-plp {
        grid-template-columns: 1fr !important;
        grid-template-rows: 50px auto auto auto auto !important;
    }
    .breadcrumb-plp {
        align-self: center !important;
        grid-column: 1 !important;
        grid-row: 1 !important;
    }
    .aside-plp {
        grid-column: 1 !important;
        grid-row: 2 !important;
        padding: 10px;
        margin-left: 0;
        margin-right: 20px;
    }
    .title-list-products-plp {
        grid-column: 1 !important;
        grid-row: 3 !important;
        padding: 10px;
        display: flex;
        flex-direction: column !important;
    }
    .listproducts-plp {
        grid-column: 1 !important;
        grid-row: 4 !important;
    }
    .banner-plp {
        grid-column: 1 !important;
        grid-row: 5 !important;
    }
    .selector-plp {
        justify-content: start !important;
        margin-top: 4px;
    }
}

/* -------------------- TERMINA PLP ---------------- */

/*

Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP
Aqui comienza PDP


/*main page test*/

.pdp-main{
    padding: 10px !important;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    color: #211f43;
    min-height: 100vh;
  }
  
  
  .product-container {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 40px;
    padding:25px;
  }
  
  
  .img-card img {
    width: 100%;
    flex-shrink: 0;
    border-radius: 4px;
    height: 520px;
    object-fit: cover;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding:2px;
  }
  
  .small-Card {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 15px;
    gap: 12px;
  }
  
  .small-Card img {
    width: 104px;
    height: 104px;
    border-radius: 4px;
    cursor: pointer;
  }

  .small-Card img:active {
    border: 1px solid #1F316F;
  }
  
  .sm-card {
    border: 2px solid darkred;
  }
  
  .product-info{
    width: 60%;
  }
  .product-info h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
  }
  
  .product-info h5 {
    font-size: 24px;
    font-weight: 500;
    line-height: 130%;
    color: #2b8603;
    margin: 6px 0;
  }
  
  .product-info del {
    color: #a9a9a9;
  }
  
  .product-info p {
    color: #424551;
    margin: 15px 0;
    /* width: 70%; */
  }
  

  .table-info{
    width: 70%;
    text-align: center;
    margin: 20px 0;
  }

  .quantity input {
    width: 35px;
    height: auto;
    margin-bottom: 15px;
    padding: 6px;
    margin-right: 10px;
  }
  
  button {
    background: #211f43c0;
    border-radius: 4px;
    padding: 10px 37px;
    border: none;
    color: white;
    font-weight: 600;
  }
  
  button:hover {
    background: #211f43;
    transition: ease-in 0.4s;
    cursor: pointer;
  }
  
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 40%; */
    color: #787a80;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 1px;
    
  }
  
  hr {
    color: #787a80;
    /* width: 58%; */
    opacity: 0.67;
  }
  
  .pagination {
      color: #787a80;
      margin: 15px 0;
      cursor: pointer;
  }

  .vl {
    border-left: 1px solid #787a80;
    height: 90px;
    padding-left: 0px;
  }
  
  .technical {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
    color: #787a80;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 1px;
  }

  .technical td:first-child {
    font-weight: bold;
  }

  .pdp-products2{
    display: flex;
    gap: 15px;
    margin-top: 15px;
    flex-wrap: wrap;
  }

  .pdp-products2 .product-box-home{
    width: 200px;
    height: auto;
  }

  .pdp-products2 .product-box-home h3 {
    font-size: 16px;
    margin-top: 0;
    text-align: start;
  }

  .pdp-products2 .product-box-home p {
    margin-top: 3px;
  }

  .pdp-products2 .product-box-home .price-discounted-home{
    color: #2b8603;
  }
@media (max-width: 710px) {
    .product-container {
        flex-direction: column;
    }

    .product-container img {
        /*width: 200px !important;
        height: 200px !important;*/
        width: 100%; /* Adjust percentage as needed */
        height: auto; /* Maintain aspect ratio */

    }
    .pdp-products2 {
        flex-direction: column;
    }
    .small-Card img {
        width: 48%; /* Make the image take up the full width of the container */
    }

    .product-info .technical {
        text-align: center;
    }
    .product-info, .table-info {
        width: 100%;
    }

    .pdp-products2 .product-box-home {
        width: 80%;
    }
}



@media (max-width: 490px) {
    .small-Card {
        flex-direction: column;
        display: block; /* Ensure the small-Card is displayed */
    }

    /*.small-Card img {
        width: 100%; /* Make the image take up the full width of the container 
    }*/
}

/* ------------------ Termina PDP ----------------  */

/* ------------------------ CART STYLES ------------------------------- */
/* Breadcrumb */
.breadcrumb {
    grid-row: 1/2;
    grid-column: 1/4;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;

    .breadcrumb-item {
        a {
            text-decoration: none;
            color: #211f43;
            font-weight: normal;

            &:hover {
                text-decoration: underline;
            }
        }

        &::after {
            content: " /";
            margin: 0 5px;
        }
    
        &:last-child::after {
            content: "";
        }
    }
}

/* Main Layout */
.cart-main {
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    background-color: #fafafd;
    min-height: 100vh;

    
    /* List of products */
    .cart-products {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        gap: 10px;

        
        /* Product Items */
        .cart-product-item {
            display: flex;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            background-color: white;
            gap: 20px;

            
            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                align-self: center;
            }

            
            .cart-product-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                p {
                    font-size: 22px;
                    font-weight: bold;
                }

                h2 {
                    color: #413543;
                }

                .cart-values {
                    display: flex;
                    gap: 100px;
                    
                    .cart-shipping-method {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .cart-radio-buttons {
                            padding: 0;
                            display: flex;
                            list-style: none;
                            border: none;
                            gap: 5px;
        
        
                            .cart-radio-item {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
    
                    .cart-quantity-fs {
                        border: none;
    
                        select {
                            padding: 3px 10px;
                            border: 1px solid #aaa;
                            border-radius: 3px;
                            background-color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    
    
    /* Purchase Summary */
    .cart-order-summary {
        grid-row: 2/3;
        grid-column: 3/4;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        background-color: white;
        height: fit-content;
        gap: 10px;

        
        h2 {
            text-align: center;
        }

        .cart-summary {
            border: none;
            gap: 10px;
            margin: 25px 0;
            width: 100%;
            font-size: 20px;

            tr td:last-child {
                text-align: end;
            }
        }
        
        #cart-checkoutButton {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: #211f43;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;


            &:hover {
                filter: brightness(120%);
            }
        }
    }
}

/* ------------------------ CART RESPONSIVE STYLES ------------------------------- */
@media (max-width: 1040px) {
    .cart-main {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 710px) {
    .cart-product-item {
        flex-direction: column;
    }

    .cart-product-item img {
        width: 200px !important;
        height: 200px !important;
    }

    .cart-product-item .cart-product-details h2 {
        text-align: center;
    }
}

@media (max-width: 490px) {
    .cart-values {
        flex-direction: column;
        gap: 10px !important;
    }
}

/* --------------------------------- END CART STYLES ------------------------------------- */