* {
    margin: 0;
    padding: 0;
}

:root {
    --base-color-1: #211f43;
    --base-color-2: white;
    --base-color-3: #413543;
    --base-color-4: #fafafd;
}

/* Breadcrumb */
.breadcrumb {
    grid-row: 1/2;
    grid-column: 1/4;
    list-style: none;
    padding: 0;
    display: flex;
    gap: 5px;

    .breadcrumb-item {
        a {
            text-decoration: none;
            color: var(--base-color-1);
        }

        &::after {
            content: "/";
            margin-left: 5px;
        }
    
        &:last-child::after {
            content: "";
        }
    }
}


/* ------------------------ CART STYLES ------------------------------- */
/* Main Layout */
.cart-main {
    display: grid;
    grid-template-rows: 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
    background-color: var(--base-color-4);

    
    /* List of products */
    .cart-products {
        grid-row: 2/3;
        grid-column: 1/3;
        display: flex;
        flex-direction: column;
        gap: 10px;

        
        /* Product Items */
        .cart-product-item {
            display: flex;
            border: 1px solid #ccc;
            padding: 20px;
            border-radius: 5px;
            background-color: var(--base-color-2);
            gap: 20px;

            
            img {
                width: 120px;
                height: 120px;
                object-fit: cover;
                align-self: center;
            }

            
            .cart-product-details {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

                p {
                    font-size: 22px;
                    font-weight: bold;
                }

                h2 {
                    color: var(--base-color-3);
                }

                .cart-values {
                    display: flex;
                    gap: 100px;
                    
                    .cart-shipping-method {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        .cart-radio-buttons {
                            padding: 0;
                            display: flex;
                            list-style: none;
                            border: none;
                            gap: 5px;
        
        
                            .cart-radio-item {
                                display: flex;
                                align-items: center;
                            }
                        }
                    }
    
                    .cart-quantity-fs {
                        border: none;
    
                        select {
                            padding: 3px 10px;
                            border: 1px solid #aaa;
                            border-radius: 3px;
                            background-color: #fff;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    
    
    /* Purchase Summary */
    .cart-order-summary {
        grid-row: 2/3;
        grid-column: 3/4;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        background-color: var(--base-color-2);
        height: fit-content;
        gap: 10px;

        
        h2 {
            text-align: center;
        }

        .cart-summary {
            border: none;
            gap: 10px;
            margin: 25px 0;
            width: 100%;
            font-size: 20px;

            tr td:last-child {
                text-align: end;
            }
        }
        
        #cart-checkoutButton {
            display: block;
            width: 100%;
            padding: 10px;
            background-color: var(--base-color-1);
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;


            &:hover {
                filter: brightness(120%);
            }
        }
    }
}

/* --------------- RESPONSIVE DESIGN --------------- */
@media (max-width: 1040px) {
    .cart-main {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 710px) {
    .cart-product-item {
        flex-direction: column;
    }

    .cart-product-item img {
        width: 200px !important;
        height: 200px !important;
    }

    .cart-product-item .cart-product-details h2 {
        text-align: center;
    }
}

@media (max-width: 490px) {
    .cart-values {
        flex-direction: column;
        gap: 10px !important;
    }
}